<script src="/jquery/jquery.min.js"></script>
<script src="/bootstrap/bootstrap.min.js"></script>
<script src="/bootstrapvalidator/bootstrapValidator.min.js"></script>
<% if(type) { %>
    <script src=<%= type %>></script>
<% } %>
</body>
</html>