<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>注册</title>
    <link rel="stylesheet" href="/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/bootstrapvalidator/bootstrapValidator.min.css">
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title text-center">注 册</div>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" id="form">
                <div class="form-group" id="check-name">
                    <label for="" class="col-sm-3 control-label">用户名</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="username" name="username" placeholder="请输入用户名">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-3 control-label">密码</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="password" name="password" placeholder="请输入密码">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-3 control-label">再次输入</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="confirmpassword" name="confirmpassword" placeholder="再次输入密码">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-3 control-label">选择头像</label>
                    <div class="col-sm-9">
                        <input type="file" class="form-control" id="hidden" name="avatar">
                        <img class="avatar" src="https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=2897217770,606911253&fm=11&gp=0.jpg" alt="">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <button type="submit" class="col-sm-6 btn btn-primary" id="submit">注 册</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <span>
                            已有账号，前去
                            <a href="/login" class="login">登录</a>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="message"></div>

<script src="/jquery/jquery.min.js"></script>
<script src="/bootstrap/bootstrap.min.js"></script>
<script src="/bootstrapvalidator/bootstrapValidator.min.js"></script>
<script src="/js/register.js"></script>
</body>
</html>