.panel{
    width: 400px;
    margin: 50px auto 0;
}
#form{
    max-width: 400px;
    margin: 50px auto 0;
}
a{
    display: inline-block;
    margin-right: 5px;
    padding-top: 7px;
}
.register{
    color: red;
}
.message{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.5);
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    z-index: 999;
    display: none;
}